/* App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: #f4f6f9;
}